/* Setup */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
}

.skip-link:focus {
    left: 43%;
}

/* General styles - elements */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.8rem;
    font-family: 'Lato', sans-serif;
}

h2, h3, h4 {
    font-family: 'Playfair Display', serif;
    margin: 0;
}

h2 {
    font-size: 4.2rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 3.2rem;
    text-transform: capitalize;
}

h1, h5 {
    font-family: 'Lato', sans-serif;
    margin: 0;
    text-transform: uppercase;
}

h5 {
    font-size: 2.4rem;
}

i {
    color: white;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

p {
    margin: 30px 0;
    line-height: 2.9rem;
}

* {
    transition: all 0.3s;
}

a {
    color: white;
    text-decoration: none;
}

/* General styles - classes */

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}

.btn, button {
    background: #e7a8e6;
    color: black;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    border: none;
    padding: 17px 20px;
    font-weight: bold;
    font-size: 1.8rem;
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

.btn {
    display: inline-block;
}

.btn:hover {
    box-shadow: 0 0 5px black;
}

.pageNav {
    color: white;
    text-transform: uppercase;
}

.pageNav li {
    list-style-type: none;
}

.pageNav a:hover, 
.socialIcons i:hover {
    color: #e7a8e6;
    cursor: pointer;
}

.socialNav a:hover i {
    color: black;
}



/* Header Styles */
header {
    background-image: url(../assets/image-1.jpg);
    min-height: 100vh;
    padding-top: 20px;
    background-repeat: no-repeat;
    background-size: cover;
}

header h2 {
    color: white;
    float: left;
}

.pageNav1 {
    float: right;
    padding-top: 20px;
}

.pageNav1 li {
    float: left;
}

.pageNav1 a {
    padding: 20px 17px;
}

.pageNav a {
    text-decoration: none;
}

.pageNav1 input, 
.pageNav1 label, 
.socialNav {
    display: none;
}

.headerWrapper {
    position: relative;
}

h1 {
    color: white;
    font-size: 3.2rem;
    text-align: center;
    position: absolute;
    margin: 0 0 100px -238px;
    bottom: 0;
    left: 50%;
}

.companyName {
    font-family: 'Playfair Display', serif;
    font-size: 13rem;
    text-transform: capitalize;
    display: block;
    margin-top: -15px;
}

.socialIcons {
    position: relative;
    top: 25vh;
    float: right;
    margin-right: 33px;
}

.socialIcons i {
    float: left;
    width: 100%;
    margin: 7.5px 0;
    text-align: center;
}


/* About Styles */
.about {
    background: #f0f5ff;
    text-align: center;
    padding: 100px 0;
}

.about p {
    max-width: 42.5%;
    margin: 30px auto;
}


/* Image Gallery Styles */
.imageGallery {
    padding: 100px 0;
}

.imageContainer {
    width: 100%;
}

.imageGallery img {
    float: left;
    width: calc((100% - 80px) / 3);
    margin-right: 40px;
}

.imageContainer img:nth-child(3) {
    margin-right: 0;
}


/* Links Styles */
.links {
    background-image: url(../assets/image-5.jpg);
    background-size: cover;
}

.linkGallery {
    text-align: center;
}

.linkContainer {
    float: left;
    padding: 100px 0;
    color: white;
    text-transform: capitalize;
    width: 25%;
}

.linkContainer:hover i,
.linkContainer:hover h3 {
    color: #e7a8e6;
}

.linkContainer i {
    font-size: 4rem;
    padding-bottom: 23.5px;
}



/* Behind the Lens Styles */
.behindLens {
    padding: 100px 0;
}

.photographer {
    float: left;
    margin-right: 42px;
    width: calc(30% - 42px);
}

.photographer img {
    width: 100%;
}

.lensContent {
    float: left;
    width: 70%;
}

.lensContent .btn {
    position: relative;
    top: 5px;
}


/* More Info styles */
.infoGallery {
    background: #f0f5ff;
}

.moreInfo {
    max-width: 1600px;
    margin: 0 auto;
}

.moreInfoSection {
    width: 50%;
    float: left;
}

.moreInfoImage img {
    object-fit: cover;
    min-height: 462px;
}

.moreInfoImage1 {
    display: none;
}

.moreInfoCopy p {
    max-width: 400px;
}

.moreInfoCopy1 {
    text-align: right;
    float: right;
    padding: 100px 148px 100px 0;
}

.moreInfoCopy2 {
    padding: 100px 0 100px 148px;
}


/* Footer Styles */
footer {
    color: white;
}

.footerTop {
    background: #232323;
    padding: 100px 0;
}

.footerColumn {
    float: left;
}

.updates1 {
    display: none;
}

.contact {
    width: calc(20% - 70px);
}

.contact p {
    max-width: 180px;
    margin: 3px 0 0 0;
}

.updates {
    margin: 0 140px;
    width: calc(60% - 140px);
    text-align: center;
}

.updates p {
    margin: 3px 0 11px 0;
}

.updates input {
    width: 75%;
    padding: 17px 32.7px;
    margin: 0;
    border: none;
    float: left;
}

.updates button {
    padding: 17px 16px;
    margin: 0;
    float: left;
    width: 25%;
}

.pages {
    width: calc(20% - 70px);
}

.pageNav2 {
    line-height: 2.9rem;
    text-align: right;
}

.pageNav2 h5 {
    padding-bottom: 3px;
}

.pageNav2 li {
    margin-top: 2px;
}

.footerBottom {
    background: #000000;
    text-align: center;
}

.footerBottom p {
    margin: 0;
    color: rgba(255, 255, 255, 0.5);
    padding: 13.5px 0;
}



/* Media Queries */
@media (max-width: 1350px) {
    .navBar {
        margin: 0 33px;
    }

    .behindLens {
        margin: 0 20px;
    }

    .footerTop {
        padding: 100px 20px
    }
}

@media (max-width: 1150px) {
    .contact {
        width: calc(20% - 35px);
    }

    .updates {
        margin: 0 70px;
        width: calc(60% - 70px);
    }

    .updates input {
        width: 70%;
    }

    .updates button {
        width: 30%;
    }

    .pages {
        width: calc(20% - 35px);
    }
}

@media (max-width: 1060px) {
    .photographer {
        margin-right: 30px;
        width: calc(35% - 30px);
    }

    .lensContent {
        width: 65%;
    }
    
    .moreInfoCopy {
        padding: 75px;
    }

    .moreInfoImage img {
        min-height: 420px;
        max-width: 100%;
    }
}

@media (max-width: 940px) {
    .about {
        padding: 50px 20px;
    }
    
    .about p {
        max-width: 100%;
        margin: 30px 20px;
    }
    
    .imageGallery {
        padding: 0;
    }
    
    .imageGallery img {
        width: calc(100% / 3);
        margin-right: 0;
    }

    .links {
        background: #1f2022;
    }

    .moreInfoSection {
        width: 100%;
    }

    .moreInfoCopy {
        text-align: center;
        float: none;
        padding: 50px;
    }

    .moreInfoCopy p {
        max-width: none;
    }

    .moreInfoImage img {
        min-width: 100%;
        min-height: auto;
    }

    .moreInfoImage1 {
        display: block;
    }

    .moreInfoImage2 {
        display: none;
    }

    .footerTop {
        padding: 50px 20px;
    }

    .updates {
        display: block;
        width: calc(100% - 100px);
        margin: 0 50px 30px 50px;
    }

    .updates2 {
        display: none;
    }

    .contact, .pages {
        width: 50%;
        text-align: center;
    }

    .contact p {
        max-width: 100%;
    }

    .pageNav2 {
        text-align: center;
    }
}

@media (max-width: 750px) {
    .navBar {
        margin: 0 20px;
    }

    .pageNav1 input, .pageNav1 label {
        display: block;
    }

    /* CSS Hamburger menu styles adapted from HackerYou checkbox nav exercise */

    .wrapper {
        position: relative;
        left: 0;
        transition: all 0.5s;
    }

    ul.nav {
        background: black;
        padding: 15px 0;
        position: fixed;
        z-index: 2;
        width: 30%;
        right: -30%;
        top: 0;
        transition: all 0.5s;
    }

    ul.nav li {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    ul.nav a {
        display: block;
        padding: 15px;
        transition: all 0.3s;
    }

    ul.nav a:hover {
        background: #e7a8e6;
        color: black;
    }

    input#toggle:checked + ul.nav {
        right: 0;
    }

    input#toggle:checked ~ .wrapper {
        left: -30%;
    }

    input#toggle {
        display: none; 
    }

    label[for="toggle"] {
        position: fixed;
        top: 20px;
        right: 20px;
        color: white;
        z-index: 3;
        font-size: 4rem;
        text-shadow: 0 0 2px #000;
    }

    .socialNav {
        display: block;
    }

    .socialIcons {
        display: none;
    }

    /* Hamburger styles end */
}

@media (max-width: 600px) {
    ul.nav {
        width: 50%;
        right: -50%;
    }

    input#toggle:checked ~ .wrapper {
        left: -50%;
    }
    
    .links {
        padding: 25px 0;
    }
    
    .linkContainer {
        width: 100%;
        padding: 25px 0;
    }

    .imageGallery img {
        width: 50%;
    }

    .imageGallery img:nth-child(3) {
        display: none;
    }

    .behindLens {
        padding: 50px 0;
    }

    .photographer {
        width: 100%;
        margin: 0 0 30px 0;
    }

    .lensContent {
        width: 100%;
        text-align: center;
    }

    .lensContent a.btn {
        top: 0;
    }

    .lensContent p {
        text-align: left;
    }

    .updates {
        margin: 0 0 30px 0;
        text-align: center;
        width: 100%;
    }

    .updates input {
        width: 100%;
        text-align: center;
        margin-bottom: 12px;
    }

    .updates button {
        width: 100%;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    h1 {
        font-size: 2rem;
        margin: 0 0 250px -155px;
    }

    .companyName {
        font-size: 9rem;
    }
}